# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
/schema
/.pnp
.pnp.js
server.js
package-lock.json
nodemon.json
testes.json

# distribution
/dist

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.old

test.js
