<h1>Persons Data:</h1>

<ul>
  <% for(var i=0; i<persons.length; i++) {%>
      <li>
          Name: <%= persons[i].name %>
      </li>
      <li>
          Age: <%= persons[i].age %>
          <br>
          <br>
      </li>
      <% } %>
</ul>